---
layout: default
---

            
{% include career-profile.html %}

{% if site.skills_profile_in_main %}
    {% include skills-profile.html %}
{% endif %}

{% include experience.html %}

{% if site.certification_in_main %}
    {% include certification.html %}
{% endif %}

{% if site.education_in_main %}
    {% include education.html %}
{% endif %}

{% if site.projects_in_main %}
    {% include projects.html %}
{% endif %}

{% if site.publications_in_main %}
    {% include publications.html %}
{% endif %}

{% if site.skills_in_main %}
    {% include skills.html %}
{% endif %}


